#login {
      background-color: midnightBlue;
      border-radius: 10px;
      color:white;
}
#loginError {
      background-color: maroon;
      border-radius: 10px;
      color:white;
 }
#Name{
	color:indigo;
 }
#logOut{
	background-color: indigo;
	color:white;
}

#tableHeader{
	background-color: indigo;
	color:white;
}
#tableContentPair{
	background-color: ghostWhite;
	color: black;
}
#tableContentOdd{
	background-color: lavender;
	color: black;
}
