#login {
      background-color: midnightBlue;
      border-radius: 10px;
      color:white;
}
#loginError {
      background-color: maroon;
      border-radius: 10px;
      color:white;
 }
#Name{
	color:indigo;
 }

.view{
	border-radius: 2px;
	border-color: white;
	background-color: lavender;
	color:black;
}
